.language-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-size: 2.5rem;
  border: solid 2px white;
  border-radius: 50%;
}

.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1.5rem;
  border-radius: 50%;
}
