html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; background-color: #eeeeee; }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


$font-lg: 2rem;
$font-md: 0.875;


.primary-title {
  font-size: $font-lg;
}

.cursor-pointer {
  cursor: pointer;
}
